# Iceberg with SQL Catalog

Example of Iceberg with SQL Glue Catalog with AWS S3 as Object Storage.

Database needs to exists on AWS Glue and user needs to have `AWSGlueConsoleFullAccess` permission.

More info [https://iceberg.apache.org/docs/latest/aws/#glue-catalog]

In [1]:
import os

from pyspark.sql import SparkSession

spark = (
    SparkSession.builder.master("spark://spark-master:7077")  # type: ignore
    .appName("Testing Iceberg with SQL Catalog")
    .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")
    .getOrCreate()
)

print(f'The PySpark {spark.version} version is running...')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/22 13:52:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

The PySpark 3.5.0 version is running...

### Test Spark is running

In [2]:
data = [("John", 28), ("Alice", 35), ("Bob", 42)]
df = spark.createDataFrame(data, ["Name", "Age"])
df.createOrReplaceTempView("tmp_people")
df.show()

+-----+---+
| Name|Age|
+-----+---+
| John| 28|
|Alice| 35|
|  Bob| 42|
+-----+---+

## Config Iceberg catalog

```bash
spark-sql \
    --packages org.apache.iceberg:iceberg-spark-runtime-3.4_2.12:1.4.2,org.apache.iceberg:iceberg-aws-bundle:1.4.2 \
    --conf spark.sql.catalog.glue=org.apache.iceberg.spark.SparkCatalog \
    --conf spark.sql.catalog.glue.catalog-impl=org.apache.iceberg.aws.glue.GlueCatalog \
    --conf spark.sql.catalog.glue.warehouse=s3a://cloud-sdk/warehouse \
    --conf spark.sql.catalog.glue.io-impl=org.apache.iceberg.aws.s3.S3FileIO \
    --conf spark.hadoop.fs.s3a.access.key=${AWS_ACCESS_KEY_ID} \
    --conf spark.hadoop.fs.s3a.secret.key=${AWS_SECRET_ACCESS_KEY}
```

In [10]:
CATALOG_NAME = "demo"
DEFAULT_NAMESPACE = "default"

AWS_ACCESS_KEY_ID = os.getenv("AWS_ACCESS_KEY_ID") or ""
AWS_SECRET_ACCESS_KEY = os.getenv("AWS_SECRET_ACCESS_KEY") or ""

spark.conf.set(f"spark.sql.catalog.{CATALOG_NAME}", "org.apache.iceberg.spark.SparkCatalog")
spark.conf.set(f"spark.sql.catalog.{CATALOG_NAME}.catalog-impl", "org.apache.iceberg.aws.glue.GlueCatalog")
spark.conf.set(f"spark.sql.catalog.{CATALOG_NAME}.warehouse", "s3a://cloud-sdk/warehouse/")
spark.conf.set(f"spark.sql.catalog.{CATALOG_NAME}.io-impl", "org.apache.iceberg.aws.s3.S3FileIO")
spark.conf.set(f"spark.hadoop.fs.s3a.access.key", AWS_ACCESS_KEY_ID)
spark.conf.set(f"spark.hadoop.fs.s3a.secret.key", AWS_SECRET_ACCESS_KEY)

### Change Catalog

Activate the catalog and optionally the namespace.

In [24]:
%%sql
USE demo;

++
||
++
++

### Create new Namespace

A Namespace in Glue is a Database.

In [25]:
%%sql
CREATE NAMESPACE new_namespace;

++
||
++
++

### Activate namespace

In [26]:
%%sql
USE demo.new_namespace;

++
||
++
++

### List existing catalogs, namespaces, tables

In [27]:
%%sql
SHOW catalogs;

+---------------+
|       catalog |
+---------------+
|          demo |
| spark_catalog |
+---------------+

In [28]:
%%sql
SHOW namespaces;

+-----------------+
|       namespace |
+-----------------+
|            demo |
|         iceberg |
|   new_namespace |
|            test |
| `unique-stocks` |
+-----------------+

### Create table

In [29]:
%%sql
CREATE TABLE people (
  name STRING,
  age INT
) USING iceberg;

++
||
++
++

Create a table in a different Namespace than the one activated.

Glue needs to have the `catalog_name`.`database_name`.`table_name`.

In [33]:
%%sql
CREATE TABLE IF NOT EXISTS demo.demo.quote (date Date, Close Float) USING iceberg PARTITIONED BY (YEAR(date));

++
||
++
++

### Show tables

In [34]:
%%sql
SHOW tables;

+---------------+-----------+-------------+
|     namespace | tableName | isTemporary |
+---------------+-----------+-------------+
| new_namespace |    people |       False |
+---------------+-----------+-------------+

## Insert

In [35]:
quote = spark.read.csv("data/GDAXI.INDX.csv", header=True, inferSchema=True).select(["Date", "Close"])
quote.writeTo("demo.demo.quote").append()

In [36]:
%%sql
-- Insert from temp view
INSERT INTO demo.demo.people SELECT * FROM tmp_people

++
||
++
++

## Query Data

In [40]:
%%sql
SELECT * FROM demo.demo.people;

+-------+-----+
|  name | age |
+-------+-----+
|  John |  28 |
| Alice |  35 |
|   Bob |  42 |
+-------+-----+

In [39]:
%%sql
SELECT * FROM demo.demo.quote;

+------------+------------------+
|       date |            Close |
+------------+------------------+
| 2010-01-04 |  6048.2998046875 |
| 2010-01-05 | 6031.85986328125 |
| 2010-01-06 |   6034.330078125 |
| 2010-01-07 | 6019.35986328125 |
| 2010-01-08 | 6037.60986328125 |
| 2010-01-11 |           6040.5 |
| 2010-01-12 |           5943.0 |
| 2010-01-13 | 5963.14013671875 |
| 2010-01-14 |  5988.8798828125 |
| 2010-01-15 | 5875.97021484375 |
| 2010-01-18 |  5918.5498046875 |
| 2010-01-19 | 5976.47998046875 |
| 2010-01-20 | 5851.52978515625 |
| 2010-01-21 | 5746.97021484375 |
| 2010-01-22 | 5695.31982421875 |
| 2010-01-25 |  5631.3701171875 |
| 2010-01-26 | 5668.93017578125 |
| 2010-01-27 |  5643.2001953125 |
| 2010-01-28 |   5540.330078125 |
| 2010-01-29 |  5608.7900390625 |
| 2010-02-01 | 5654.47998046875 |
| 2010-02-02 |    5709.66015625 |
| 2010-02-03 |    5672.08984375 |
| 2010-02-04 |   5533.240234375 |
| 2010-02-05 |    5434.33984375 |
| 2010-02-08 | 5484.85009765625 |
| 2010-02-09 |   5498.259765625 |
| 2010-02-10 |  5536.3701171875 |
| 2010-02-11 | 5503.93017578125 |
| 2010-02-12 | 5500.39013671875 |
| 2010-02-15 | 5511.10009765625 |
| 2010-02-16 |  5592.1201171875 |
| 2010-02-17 |    5648.33984375 |
| 2010-02-18 |    5680.41015625 |
| 2010-02-19 |  5722.0498046875 |
| 2010-02-22 | 5688.43994140625 |
| 2010-02-23 | 5604.06982421875 |
| 2010-02-24 |   5615.509765625 |
| 2010-02-25 |   5532.330078125 |
| 2010-02-26 |  5598.4599609375 |
| 2010-03-01 |   5713.509765625 |
| 2010-03-02 | 5776.56005859375 |
| 2010-03-03 |  5817.8798828125 |
| 2010-03-04 | 5795.31982421875 |
| 2010-03-05 | 5877.35986328125 |
| 2010-03-08 |    5875.91015625 |
| 2010-03-09 | 5885.89013671875 |
| 2010-03-10 | 5936.72021484375 |
| 2010-03-11 |  5928.6298828125 |
| 2010-03-12 | 5945.10986328125 |
| 2010-03-15 | 5903.56005859375 |
| 2010-03-16 |   5970.990234375 |
| 2010-03-17 | 6024.27978515625 |
| 2010-03-18 | 6012.31005859375 |
| 2010-03-19 | 5982.43017578125 |
| 2010-03-22 |           5987.5 |
| 2010-03-23 | 6017.27001953125 |
| 2010-03-24 |           6039.0 |
| 2010-03-25 |  6132.9501953125 |
| 2010-03-26 |  6120.0498046875 |
| 2010-03-29 | 6156.85009765625 |
| 2010-03-30 |  6142.4501953125 |
| 2010-03-31 |  6153.5498046875 |
| 2010-04-01 | 6235.56005859375 |
| 2010-04-06 |  6252.2099609375 |
| 2010-04-07 |    6222.41015625 |
| 2010-04-08 |   6171.830078125 |
| 2010-04-09 |  6249.7001953125 |
| 2010-04-12 | 6250.68994140625 |
| 2010-04-13 |   6230.830078125 |
| 2010-04-14 | 6278.39990234375 |
| 2010-04-15 |  6291.4501953125 |
| 2010-04-16 | 6180.89990234375 |
| 2010-04-19 | 6162.43994140625 |
| 2010-04-20 | 6264.22998046875 |
| 2010-04-21 |  6230.3798828125 |
| 2010-04-22 | 6168.72021484375 |
| 2010-04-23 | 6259.52978515625 |
| 2010-04-26 | 6332.10009765625 |
| 2010-04-27 |   6159.509765625 |
| 2010-04-28 |    6084.33984375 |
| 2010-04-29 |    6144.91015625 |
| 2010-04-30 |  6135.7001953125 |
| 2010-05-03 |   6166.919921875 |
| 2010-05-04 | 6006.85986328125 |
| 2010-05-05 |  5958.4501953125 |
| 2010-05-06 |   5908.259765625 |
| 2010-05-07 |    5715.08984375 |
| 2010-05-10 |    6017.91015625 |
| 2010-05-11 |  6037.7099609375 |
| 2010-05-12 |   6183.490234375 |
| 2010-05-13 | 6251.97021484375 |
| 2010-05-14 |  6056.7099609375 |
| 2010-05-17 |   6066.919921875 |
| 2010-05-18 | 6155.93017578125 |
| 2010-05-19 |   5988.669921875 |
| 2010-05-20 |  5867.8798828125 |
| 2010-05-21 |          5829.25 |
| 2010-05-24 | 5805.68017578125 |
| 2010-05-25 |  5670.0400390625 |
+------------+------------------+

### Stop Spark

In [41]:
spark.stop()

# PyIceberg with Glue

In [48]:
import os

from pyiceberg.catalog import load_catalog


AWS_ACCESS_KEY_ID = os.getenv("AWS_ACCESS_KEY_ID") or ""
AWS_SECRET_ACCESS_KEY = os.getenv("AWS_SECRET_ACCESS_KEY") or ""

catalog = load_catalog(
    "glue",
    **{
        "type": "glue",
        "region_name": "eu-central-1",
        "s3.access-key-id": AWS_ACCESS_KEY_ID,
        "s3.secret-access-key": AWS_SECRET_ACCESS_KEY,
    },
)

In [49]:
catalog.list_tables('demo')

[('demo', 'people'), ('demo', 'quote')]

In [50]:
catalog.load_table("demo.quote").schema()

WARNING:pyiceberg.io:Could not initialize FileIO: pyiceberg.io.pyarrow.PyArrowFileIO

ModuleNotFoundError: No module named 's3fs'