In [3]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder.master("spark://spark-master:7077")
    .appName("Testing PySpark ass Example")
    .getOrCreate()  # type: ignore
)


data = [("John", 28), ("Alice", 35), ("Bob", 42)]
df = spark.createDataFrame(data, ["Name", "Age"])
df.show()

+-----+---+
| Name|Age|
+-----+---+
| John| 28|
|Alice| 35|
|  Bob| 42|
+-----+---+

In [4]:
spark.read.csv("GDAXI.INDX.csv", header=True).show()

+----------+-----+-----+-----+-----+--------------+------+
|      Date| Open| High|  Low|Close|Adjusted_close|Volume|
+----------+-----+-----+-----+-----+--------------+------+
|1980-01-02|493.5|493.5|493.5|493.5|         493.5|     0|
|1980-01-03|485.7|485.7|485.7|485.7|         485.7|     0|
|1980-01-04|491.8|491.8|491.8|491.8|         491.8|     0|
|1980-01-07|492.5|492.5|492.5|492.5|         492.5|     0|
|1980-01-08|494.1|494.1|494.1|494.1|         494.1|     0|
|1980-01-09|  498|  498|  498|  498|           498|     0|
|1980-01-10|497.2|497.2|497.2|497.2|         497.2|     0|
|1980-01-11|495.9|495.9|495.9|495.9|         495.9|     0|
|1980-01-14|  493|  493|  493|  493|           493|     0|
|1980-01-15|492.6|492.6|492.6|492.6|         492.6|     0|
|1980-01-16|491.4|491.4|491.4|491.4|         491.4|     0|
|1980-01-17|489.6|489.6|489.6|489.6|         489.6|     0|
|1980-01-18|484.2|484.2|484.2|484.2|         484.2|     0|
|1980-01-21|483.1|483.1|483.1|483.1|         483.1|     0|
|1980-01-22|488.7|488.7|488.7|488.7|         488.7|     0|
|1980-01-23|490.8|490.8|490.8|490.8|         490.8|     0|
|1980-01-24|496.5|496.5|496.5|496.5|         496.5|     0|
|1980-01-25|494.3|494.3|494.3|494.3|         494.3|     0|
|1980-01-28|492.6|492.6|492.6|492.6|         492.6|     0|
|1980-01-29|494.5|494.5|494.5|494.5|         494.5|     0|
+----------+-----+-----+-----+-----+--------------+------+
only showing top 20 rows